Task: Create association rules of a pharmaceutic company frequently bought together products

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from apyori import apriori

## Import data

In [3]:
df = pd.read_excel('./data/customers_products.xlsx', header = None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,60,61,62,63,64,65,66,67,68,69
0,P00069042,P00248942,P00087842,P00085442,P00085942,P00102642,P00110842,P00004842,P00117942,P00258742,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P00285442,P00112842,P00293242,P00289342,P00303342,P00165742,P00323942,P00334242,P00285742,P00034742,...,P00112442,P00323642,P00110742,P00177842,P00104842,P00070342,P00112142,P00050242,P00010742,P00115442
2,P00193542,P00132842,P0098342,P00010242,P00128042,P00112142,P00182742,P00110742,P00190142,P00178942,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P00184942,P00346142,P0097242,P00046742,P00329542,P00114942,P00025442,P00112542,P00112142,P00318742,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P00274942,P00251242,P00014542,P00031342,P00145042,P00189042,P00328242,P00159442,P00029142,P00183442,...,P00251742,P00315642,P00154742,P00157642,P00022342,P00256642,P00296042,P00059442,P00143142,P00017142

In [4]:
len(df)

500

## Pre-processing

In [5]:
records = []
for i in range(0, df.shape[0]):
    records.append([str(df.values[i, j]) for j in range(0, df.shape[1])])

## Algorithm definition APRIORI
### Threshold definition

In [27]:
min_n = 2

# Calculate support. Suppose we have data from a 7 day (week) range, and we want products bought at least 4 times a day:
min_day = 4
range_data = 7
min_support = min_day * range_data / len(df)
print(min_support)

min_confidence = 0.3
min_lift = 2

0.056

### Algorithm execution

In [28]:
association_rules = apriori(records, min_support=min_support, min_confidence=min_confidence, min_lift=min_lift, min_length=min_n)
association_rules = list(association_rules)

In [29]:
len(association_rules)

5

In [30]:
for item in association_rules:
    # first index of the inner list
    pair = item[0]
    items = [x for x in pair]
    # second index of the inner list
    support = item[1]

    print(f"Rule: {items[0]} -> {items[1]}\nSupport: {support}")
    print(f"Confidence: {item[2][0][2]}\nLift: {item[2][0][3]}")
    print(f"------------------------------")

Rule: P00010742 -> P00184942
Support: 0.072
Confidence: 0.44999999999999996
Lift: 2.083333333333333
------------------------------
Rule: P00025442 -> P00110742
Support: 0.088
Confidence: 0.4583333333333333
Lift: 2.083333333333333
------------------------------
Rule: P00145042 -> P00057642
Support: 0.058
Confidence: 0.34523809523809523
Lift: 2.2713032581453634
------------------------------
Rule: P00057642 -> P00237542
Support: 0.056
Confidence: 0.3333333333333333
Lift: 2.4154589371980673
------------------------------
Rule: P00025442 -> nan
Support: 0.062
Confidence: 0.3229166666666667
Lift: 2.4098258706467663
------------------------------