> **Disclaimer**  
> This notebook uses content adapted from a course-provided notebook available at [github.com/langchain-ai/lca-langchainV1-essentials](https://github.com/langchain-ai/lca-langchainV1-essentials).  
> All original credit belongs to the course authors.

# Memory

<div style="display: flex; justify-content: flex-start; gap: 10px;">
  <img src="./assets/LC_Memory_after.png" style="width:300px; border:1px solid #ccc; border-radius:6px;">
</div>

Persisting messages, or 'agent state' between invocations of the agent.

## Setup

Load and/or check for needed environmental variables

In [1]:
from dotenv import load_dotenv
load_dotenv()

from bedrock import nova_pro as llm

In [2]:
from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri("sqlite:///Chinook.db")

In [3]:
from dataclasses import dataclass

@dataclass
class RuntimeContext:
    db: SQLDatabase

In [4]:
from langchain_core.tools import tool
from langgraph.runtime import get_runtime

@tool
def execute_sql(query: str) -> str:
    """Execute a SQLite command and return results."""
    runtime = get_runtime(RuntimeContext)
    db = runtime.context.db

    try:
        return db.run(query)
    except Exception as e:
        return f"Error: {e}"

In [5]:
SYSTEM_PROMPT = """You are a careful SQLite analyst.

Rules:
- Think step-by-step.
- When you need data, call the tool `execute_sql` with ONE SELECT query.
- Read-only only; no INSERT/UPDATE/DELETE/ALTER/DROP/CREATE/REPLACE/TRUNCATE.
- Limit to 5 rows unless the user explicitly asks otherwise.
- If the tool returns 'Error:', revise the SQL and try again.
- Prefer explicit column lists; avoid SELECT *.
"""

In [6]:
from langchain.agents import create_agent

agent = create_agent(
    model=llm,
    tools=[execute_sql],
    system_prompt=SYSTEM_PROMPT,
    context_schema=RuntimeContext,
)

## Repeated Queries

In [7]:
question = "This is Frank Harris, What was the total on my last invoice?"
steps = []

for step in agent.stream(
    {"messages": [{"role": "user", "content": question}]},
    stream_mode="values",
    context=RuntimeContext(db=db),
):
    step["messages"][-1].pretty_print()
    steps.append(step)

================================ Human Message =================================

This is Frank Harris, What was the total on my last invoice?
================================== Ai Message ==================================

[{'type': 'text', 'text': "<thinking> To find the total on Frank Harris's last invoice, I need to first identify Frank Harris's customer ID. Once I have the customer ID, I can then query the invoices table to find the total of the most recent invoice for that customer. </thinking>\n"}, {'type': 'tool_use', 'name': 'execute_sql', 'input': {'query': "SELECT customer_id FROM customers WHERE name = 'Frank Harris' LIMIT 1"}, 'id': 'tooluse_529KyzzXQtuVxxvGezsx_A'}]
Tool Calls:
  execute_sql (tooluse_529KyzzXQtuVxxvGezsx_A)
 Call ID: tooluse_529KyzzXQtuVxxvGezsx_A
  Args:
    query: SELECT customer_id FROM customers WHERE name = 'Frank Harris' LIMIT 1
================================= Tool Message =================================
Name: execute_sql

Error: (sqlite3.OperationalError) no such table: customers
[SQL: SELECT customer_id FROM customers WHERE name = 'Frank Harris' LIMIT 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
================================== Ai Message ==================================

[{'type': 'text', 'text': "<thinking> It appears that the 'customers' table does not exist in the database. I need to find another way to identify Frank Harris's invoices. I should check if there is an 'invoices' table that contains customer names directly. If such a table exists, I can query it to find the total of Frank Harris's last invoice. </thinking> "}, {'type': 'tool_use', 'name': 'execute_sql', 'input': {'query': "SELECT name FROM sqlite_master WHERE type='table' AND name='invoices'"}, 'id': 'tooluse_NAjmVzbLSqe4US3FZDWpiA'}]
Tool Calls:
  execute_sql (tooluse_NAjmVzbLSqe4US3FZDWpiA)
 Call ID: tooluse_NAjmVzbLSqe4US3FZDWpiA
  Args:
    query: SELECT name FROM sqlite_master WHERE type='table' AND name='invoices'
================================= Tool Message =================================
Name: execute_sql


================================== Ai Message ==================================

[{'type': 'text', 'text': "<thinking> The 'invoices' table exists in the database. I should now query this table to find the total of Frank Harris's last invoice. Since I don't have a customer ID, I will directly search for invoices with Frank Harris's name and order them by the invoice date in descending order to get the most recent one. </thinking> "}, {'type': 'tool_use', 'name': 'execute_sql', 'input': {'query': "SELECT total FROM invoices WHERE customer_name = 'Frank Harris' ORDER BY invoice_date DESC LIMIT 1"}, 'id': 'tooluse_znQoQMXXQCGO4B2YORIULw'}]
Tool Calls:
  execute_sql (tooluse_znQoQMXXQCGO4B2YORIULw)
 Call ID: tooluse_znQoQMXXQCGO4B2YORIULw
  Args:
    query: SELECT total FROM invoices WHERE customer_name = 'Frank Harris' ORDER BY invoice_date DESC LIMIT 1
================================= Tool Message =================================
Name: execute_sql

Error: (sqlite3.OperationalError) no such table: invoices
[SQL: SELECT total FROM invoices WHERE customer_name = 'Frank Harris' ORDER BY invoice_date DESC LIMIT 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
================================== Ai Message ==================================

[{'type': 'text', 'text': "<thinking> It appears that the 'invoices' table does not exist in the database. I need to find another way to identify Frank Harris's invoices. I should check if there is a table that contains both customer names and invoice totals. If such a table exists, I can query it to find the total of Frank Harris's last invoice. </thinking> "}, {'type': 'tool_use', 'name': 'execute_sql', 'input': {'query': "SELECT name FROM sqlite_master WHERE type='table'"}, 'id': 'tooluse_bpIIBMDhRpy5s3yymtGyBQ'}]
Tool Calls:
  execute_sql (tooluse_bpIIBMDhRpy5s3yymtGyBQ)
 Call ID: tooluse_bpIIBMDhRpy5s3yymtGyBQ
  Args:
    query: SELECT name FROM sqlite_master WHERE type='table'
================================= Tool Message =================================
Name: execute_sql

[('Album',), ('Artist',), ('Customer',), ('Employee',), ('Genre',), ('Invoice',), ('InvoiceLine',), ('MediaType',), ('Playlist',), ('PlaylistTrack',), ('Track',)]
================================== Ai Message ==================================

[{'type': 'text', 'text': "<thinking> The database contains a table named 'Invoice', which likely contains the invoice information. I should query this table to find the total of Frank Harris's last invoice. Since I don't have a customer ID, I will directly search for invoices with Frank Harris's name and order them by the invoice date in descending order to get the most recent one. </thinking> "}, {'type': 'tool_use', 'name': 'execute_sql', 'input': {'query': "SELECT Total FROM Invoice WHERE CustomerId IN (SELECT CustomerId FROM Customer WHERE FirstName = 'Frank' AND LastName = 'Harris') ORDER BY InvoiceDate DESC LIMIT 1"}, 'id': 'tooluse_qdTctI6JRc6dcMj46j0Gcg'}]
Tool Calls:
  execute_sql (tooluse_qdTctI6JRc6dcMj46j0Gcg)
 Call ID: tooluse_qdTctI6JRc6dcMj46j0Gcg
  Args:
    query: SELECT Total FROM Invoice WHERE CustomerId IN (SELECT CustomerId FROM Customer WHERE FirstName = 'Frank' AND LastName = 'Harris') ORDER BY InvoiceDate DESC LIMIT 1
================================= Tool Message =================================
Name: execute_sql

[(5.94,)]
================================== Ai Message ==================================

The total on Frank Harris's last invoice was $5.94.

In [9]:
question = "What were the titles?"

for step in agent.stream(
    {"messages": [{"role": "user", "content": question}]},
    context=RuntimeContext(db=db),
    stream_mode="values",
):
    step["messages"][-1].pretty_print()

================================ Human Message =================================

What were the titles?
================================== Ai Message ==================================

[{'type': 'text', 'text': "<thinking> To find the titles, I need to query the database for the title column. Since the user did not specify which table to query, I will assume they want titles from a table that commonly contains titles, such as a 'books' or 'movies' table. I will start by checking if there is a 'books' table and query the titles from there. If that fails, I will try the 'movies' table. </thinking>\n"}, {'type': 'tool_use', 'name': 'execute_sql', 'input': {'query': 'SELECT title FROM books LIMIT 5'}, 'id': 'tooluse_3k7npP5wSuKXAQ7q3JcawQ'}]
Tool Calls:
  execute_sql (tooluse_3k7npP5wSuKXAQ7q3JcawQ)
 Call ID: tooluse_3k7npP5wSuKXAQ7q3JcawQ
  Args:
    query: SELECT title FROM books LIMIT 5
================================= Tool Message =================================
Name: execute_sql

Error: (sqlite3.OperationalError) no such table: books
[SQL: SELECT title FROM books LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
================================== Ai Message ==================================

[{'type': 'text', 'text': "<thinking> The 'books' table does not exist. I will now try to query the titles from a 'movies' table. </thinking> "}, {'type': 'tool_use', 'name': 'execute_sql', 'input': {'query': 'SELECT title FROM movies LIMIT 5'}, 'id': 'tooluse_8H_zGWI1S3ae97vbnzhzCg'}]
Tool Calls:
  execute_sql (tooluse_8H_zGWI1S3ae97vbnzhzCg)
 Call ID: tooluse_8H_zGWI1S3ae97vbnzhzCg
  Args:
    query: SELECT title FROM movies LIMIT 5
================================= Tool Message =================================
Name: execute_sql

Error: (sqlite3.OperationalError) no such table: movies
[SQL: SELECT title FROM movies LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
================================== Ai Message ==================================

[{'type': 'text', 'text': "<thinking> The 'movies' table does not exist either. I need to list all tables in the database to find out which table might contain the titles. </thinking> "}, {'type': 'tool_use', 'name': 'execute_sql', 'input': {'query': "SELECT name FROM sqlite_master WHERE type='table';"}, 'id': 'tooluse_h1rnOez_TW6Lbyz4D4lcjw'}]
Tool Calls:
  execute_sql (tooluse_h1rnOez_TW6Lbyz4D4lcjw)
 Call ID: tooluse_h1rnOez_TW6Lbyz4D4lcjw
  Args:
    query: SELECT name FROM sqlite_master WHERE type='table';
================================= Tool Message =================================
Name: execute_sql

[('Album',), ('Artist',), ('Customer',), ('Employee',), ('Genre',), ('Invoice',), ('InvoiceLine',), ('MediaType',), ('Playlist',), ('PlaylistTrack',), ('Track',)]
================================== Ai Message ==================================

[{'type': 'text', 'text': "<thinking> The database contains several tables, but none of them are named 'books' or 'movies'. The 'Track' table seems like a likely candidate to contain titles, as it is common for music databases to have a 'Track' table with song titles. I will query the titles from the 'Track' table. </thinking> "}, {'type': 'tool_use', 'name': 'execute_sql', 'input': {'query': 'SELECT Name FROM Track LIMIT 5'}, 'id': 'tooluse_a6zQokudQrm6rrm87JIX8A'}]
Tool Calls:
  execute_sql (tooluse_a6zQokudQrm6rrm87JIX8A)
 Call ID: tooluse_a6zQokudQrm6rrm87JIX8A
  Args:
    query: SELECT Name FROM Track LIMIT 5
================================= Tool Message =================================
Name: execute_sql

[('For Those About To Rock (We Salute You)',), ('Balls to the Wall',), ('Fast As a Shark',), ('Restless and Wild',), ('Princess of the Dawn',)]
================================== Ai Message ==================================

The titles are:
1. For Those About To Rock (We Salute You)
2. Balls to the Wall
3. Fast As a Shark
4. Restless and Wild
5. Princess of the Dawn

## Add memory

In [10]:
from langgraph.checkpoint.memory import InMemorySaver

In [12]:
from langchain.agents import create_agent
from langchain_core.messages import SystemMessage

agent = create_agent(
    model=llm,
    tools=[execute_sql],
    system_prompt=SYSTEM_PROMPT,
    context_schema=RuntimeContext,
    checkpointer=InMemorySaver(),
)

In [13]:
question = "This is Frank Harris, What was the total on my last invoice?"
steps = []

for step in agent.stream(
    {"messages": [{"role": "user", "content": question}]},
    {"configurable": {"thread_id": "1"}},
    context=RuntimeContext(db=db),
    stream_mode="values",
):
    step["messages"][-1].pretty_print()
    steps.append(step)

================================ Human Message =================================

This is Frank Harris, What was the total on my last invoice?
================================== Ai Message ==================================

[{'type': 'text', 'text': "<thinking> To find the total on Frank Harris's last invoice, I need to first identify Frank Harris's customer ID. Once I have the customer ID, I can then query the invoices table to find the total of the most recent invoice for that customer. </thinking>\n"}, {'type': 'tool_use', 'name': 'execute_sql', 'input': {'query': "SELECT customer_id FROM customers WHERE name = 'Frank Harris' LIMIT 1"}, 'id': 'tooluse_yzi6_aMpSoe22jlXY6T5Sg'}]
Tool Calls:
  execute_sql (tooluse_yzi6_aMpSoe22jlXY6T5Sg)
 Call ID: tooluse_yzi6_aMpSoe22jlXY6T5Sg
  Args:
    query: SELECT customer_id FROM customers WHERE name = 'Frank Harris' LIMIT 1
================================= Tool Message =================================
Name: execute_sql

Error: (sqlite3.OperationalError) no such table: customers
[SQL: SELECT customer_id FROM customers WHERE name = 'Frank Harris' LIMIT 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
================================== Ai Message ==================================

[{'type': 'text', 'text': "<thinking> It appears that the `customers` table does not exist in the database. I need to find another way to identify Frank Harris's invoices. I should check if there is an `invoices` table that contains customer names directly. If such a table exists, I can query it to find the total of the most recent invoice for Frank Harris. </thinking> "}, {'type': 'tool_use', 'name': 'execute_sql', 'input': {'query': "SELECT name FROM sqlite_master WHERE type='table' AND name='invoices'"}, 'id': 'tooluse_vQ-s2I01TG-1HyZQKcgIcQ'}]
Tool Calls:
  execute_sql (tooluse_vQ-s2I01TG-1HyZQKcgIcQ)
 Call ID: tooluse_vQ-s2I01TG-1HyZQKcgIcQ
  Args:
    query: SELECT name FROM sqlite_master WHERE type='table' AND name='invoices'
================================= Tool Message =================================
Name: execute_sql


================================== Ai Message ==================================

[{'type': 'text', 'text': '<thinking> The `invoices` table exists in the database. I can now query this table to find the total of the most recent invoice for Frank Harris. Since I need the most recent invoice, I will order the results by the invoice date in descending order and limit the results to the top row. </thinking> '}, {'type': 'tool_use', 'name': 'execute_sql', 'input': {'query': "SELECT total FROM invoices WHERE customer_name = 'Frank Harris' ORDER BY invoice_date DESC LIMIT 1"}, 'id': 'tooluse_JftCEVIjSCa-hhfCAqwfmQ'}]
Tool Calls:
  execute_sql (tooluse_JftCEVIjSCa-hhfCAqwfmQ)
 Call ID: tooluse_JftCEVIjSCa-hhfCAqwfmQ
  Args:
    query: SELECT total FROM invoices WHERE customer_name = 'Frank Harris' ORDER BY invoice_date DESC LIMIT 1
================================= Tool Message =================================
Name: execute_sql

Error: (sqlite3.OperationalError) no such table: invoices
[SQL: SELECT total FROM invoices WHERE customer_name = 'Frank Harris' ORDER BY invoice_date DESC LIMIT 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
================================== Ai Message ==================================

[{'type': 'text', 'text': "<thinking> It appears that the `invoices` table does not exist in the database. I need to find another way to identify Frank Harris's invoices. I should check if there is a table that contains both customer names and invoice totals. If such a table exists, I can query it to find the total of the most recent invoice for Frank Harris. </thinking> "}, {'type': 'tool_use', 'name': 'execute_sql', 'input': {'query': "SELECT name FROM sqlite_master WHERE type='table'"}, 'id': 'tooluse_ATTdtXwfShS7Ll5XT5Bz2w'}]
Tool Calls:
  execute_sql (tooluse_ATTdtXwfShS7Ll5XT5Bz2w)
 Call ID: tooluse_ATTdtXwfShS7Ll5XT5Bz2w
  Args:
    query: SELECT name FROM sqlite_master WHERE type='table'
================================= Tool Message =================================
Name: execute_sql

[('Album',), ('Artist',), ('Customer',), ('Employee',), ('Genre',), ('Invoice',), ('InvoiceLine',), ('MediaType',), ('Playlist',), ('PlaylistTrack',), ('Track',)]
================================== Ai Message ==================================

[{'type': 'text', 'text': '<thinking> The database contains a table named `Invoice` that likely contains the invoice information. I should query this table to find the total of the most recent invoice for Frank Harris. Since I need the most recent invoice, I will order the results by the invoice date in descending order and limit the results to the top row. </thinking> '}, {'type': 'tool_use', 'name': 'execute_sql', 'input': {'query': "SELECT Total FROM Invoice WHERE CustomerId IN (SELECT CustomerId FROM Customer WHERE FirstName = 'Frank' AND LastName = 'Harris') ORDER BY InvoiceDate DESC LIMIT 1"}, 'id': 'tooluse_84aQzcrGTQmjOch0FLBgQw'}]
Tool Calls:
  execute_sql (tooluse_84aQzcrGTQmjOch0FLBgQw)
 Call ID: tooluse_84aQzcrGTQmjOch0FLBgQw
  Args:
    query: SELECT Total FROM Invoice WHERE CustomerId IN (SELECT CustomerId FROM Customer WHERE FirstName = 'Frank' AND LastName = 'Harris') ORDER BY InvoiceDate DESC LIMIT 1
================================= Tool Message =================================
Name: execute_sql

[(5.94,)]
================================== Ai Message ==================================

The total on your last invoice, Frank Harris, was $5.94.

In [14]:
question = "What were the titles?"
steps = []

for step in agent.stream(
    {"messages": [{"role": "user", "content": question}]},
    {"configurable": {"thread_id": "1"}},
    context=RuntimeContext(db=db),
    stream_mode="values",
):
    step["messages"][-1].pretty_print()
    steps.append(step)

================================ Human Message =================================

What were the titles?
================================== Ai Message ==================================

[{'type': 'text', 'text': "<thinking> To find the titles of the items on Frank Harris's last invoice, I need to first identify the invoice ID of the most recent invoice. Once I have the invoice ID, I can then query the `InvoiceLine` table to find the titles of the items on that invoice. </thinking> "}, {'type': 'tool_use', 'name': 'execute_sql', 'input': {'query': "SELECT InvoiceId FROM Invoice WHERE CustomerId IN (SELECT CustomerId FROM Customer WHERE FirstName = 'Frank' AND LastName = 'Harris') ORDER BY InvoiceDate DESC LIMIT 1"}, 'id': 'tooluse_h9I0NMj9QHyfIucKtjSycg'}]
Tool Calls:
  execute_sql (tooluse_h9I0NMj9QHyfIucKtjSycg)
 Call ID: tooluse_h9I0NMj9QHyfIucKtjSycg
  Args:
    query: SELECT InvoiceId FROM Invoice WHERE CustomerId IN (SELECT CustomerId FROM Customer WHERE FirstName = 'Frank' AND LastName = 'Harris') ORDER BY InvoiceDate DESC LIMIT 1
================================= Tool Message =================================
Name: execute_sql

[(374,)]
================================== Ai Message ==================================

[{'type': 'text', 'text': "<thinking> I have the invoice ID of Frank Harris's most recent invoice, which is 374. I can now query the `InvoiceLine` table to find the titles of the items on this invoice. </thinking> "}, {'type': 'tool_use', 'name': 'execute_sql', 'input': {'query': 'SELECT TrackId FROM InvoiceLine WHERE InvoiceId = 374'}, 'id': 'tooluse_AO4D05e0QSCyqrjOy5l2hA'}]
Tool Calls:
  execute_sql (tooluse_AO4D05e0QSCyqrjOy5l2hA)
 Call ID: tooluse_AO4D05e0QSCyqrjOy5l2hA
  Args:
    query: SELECT TrackId FROM InvoiceLine WHERE InvoiceId = 374
================================= Tool Message =================================
Name: execute_sql

[(1803,), (1807,), (1811,), (1815,), (1819,), (1823,)]
================================== Ai Message ==================================

[{'type': 'text', 'text': "<thinking> I have the track IDs of the items on Frank Harris's most recent invoice. I can now query the `Track` table to find the titles of these tracks. </thinking> "}, {'type': 'tool_use', 'name': 'execute_sql', 'input': {'query': 'SELECT Name FROM Track WHERE TrackId IN (1803, 1807, 1811, 1815, 1819, 1823)'}, 'id': 'tooluse_zyKRTNhKTcKHjq94loPxzg'}]
Tool Calls:
  execute_sql (tooluse_zyKRTNhKTcKHjq94loPxzg)
 Call ID: tooluse_zyKRTNhKTcKHjq94loPxzg
  Args:
    query: SELECT Name FROM Track WHERE TrackId IN (1803, 1807, 1811, 1815, 1819, 1823)
================================= Tool Message =================================
Name: execute_sql

[('Holier Than Thou',), ('Through The Never',), ('My Friend Of Misery',), ('The Wait',), ('Blitzkrieg',), ('So What',)]
================================== Ai Message ==================================

The titles of the items on your last invoice, Frank Harris, were:
1. Holier Than Thou
2. Through The Never
3. My Friend Of Misery
4. The Wait
5. Blitzkrieg
6. So What

## Try your own queries
Now that there is memory, check the agents recall!

In [15]:
question = "Which is the customer with the highest sum of purchases?"
steps = []

for step in agent.stream(
    {"messages": [{"role": "user", "content": question}]},
    {"configurable": {"thread_id": "1"}},
    context=RuntimeContext(db=db),
    stream_mode="values",
):
    step["messages"][-1].pretty_print()
    steps.append(step)

================================ Human Message =================================

Which is the customer with the highest sum of purchases?
================================== Ai Message ==================================

[{'type': 'text', 'text': '<thinking> To find the customer with the highest sum of purchases, I need to first sum the totals of all invoices for each customer. Then, I can order the results by the sum of totals in descending order and limit the results to the top row. </thinking> '}, {'type': 'tool_use', 'name': 'execute_sql', 'input': {'query': 'SELECT CustomerId, SUM(Total) AS TotalPurchases FROM Invoice GROUP BY CustomerId ORDER BY TotalPurchases DESC LIMIT 1'}, 'id': 'tooluse_tPApyUD5RuKm0JjXnJgQgQ'}]
Tool Calls:
  execute_sql (tooluse_tPApyUD5RuKm0JjXnJgQgQ)
 Call ID: tooluse_tPApyUD5RuKm0JjXnJgQgQ
  Args:
    query: SELECT CustomerId, SUM(Total) AS TotalPurchases FROM Invoice GROUP BY CustomerId ORDER BY TotalPurchases DESC LIMIT 1
================================= Tool Message =================================
Name: execute_sql

[(6, 49.62)]
================================== Ai Message ==================================

[{'type': 'text', 'text': '<thinking> I have the customer ID of the customer with the highest sum of purchases, which is 6. I can now query the `Customer` table to find the name of this customer. </thinking> '}, {'type': 'tool_use', 'name': 'execute_sql', 'input': {'query': 'SELECT FirstName, LastName FROM Customer WHERE CustomerId = 6'}, 'id': 'tooluse_UxbCZP9_QICe05BMyPOBDw'}]
Tool Calls:
  execute_sql (tooluse_UxbCZP9_QICe05BMyPOBDw)
 Call ID: tooluse_UxbCZP9_QICe05BMyPOBDw
  Args:
    query: SELECT FirstName, LastName FROM Customer WHERE CustomerId = 6
================================= Tool Message =================================
Name: execute_sql

[('Helena', 'Holý')]
================================== Ai Message ==================================

The customer with the highest sum of purchases is Helena Holý, with a total of $49.62.

In [16]:
question = "Which was her highest purchase?"
steps = []

for step in agent.stream(
    {"messages": [{"role": "user", "content": question}]},
    {"configurable": {"thread_id": "1"}},
    context=RuntimeContext(db=db),
    stream_mode="values",
):
    step["messages"][-1].pretty_print()
    steps.append(step)

================================ Human Message =================================

Which was her highest purchase?
================================== Ai Message ==================================

[{'type': 'text', 'text': "<thinking> To find Helena Holý's highest purchase, I need to first identify her customer ID. Once I have the customer ID, I can then query the `Invoice` table to find the highest total of her invoices. </thinking> "}, {'type': 'tool_use', 'name': 'execute_sql', 'input': {'query': "SELECT CustomerId FROM Customer WHERE FirstName = 'Helena' AND LastName = 'Holý' LIMIT 1"}, 'id': 'tooluse_g7XW3rdNSySlMyowyPwDNA'}]
Tool Calls:
  execute_sql (tooluse_g7XW3rdNSySlMyowyPwDNA)
 Call ID: tooluse_g7XW3rdNSySlMyowyPwDNA
  Args:
    query: SELECT CustomerId FROM Customer WHERE FirstName = 'Helena' AND LastName = 'Holý' LIMIT 1
================================= Tool Message =================================
Name: execute_sql

[(6,)]
================================== Ai Message ==================================

[{'type': 'text', 'text': "<thinking> I have Helena Holý's customer ID, which is 6. I can now query the `Invoice` table to find the highest total of her invoices. </thinking> "}, {'type': 'tool_use', 'name': 'execute_sql', 'input': {'query': 'SELECT MAX(Total) AS HighestPurchase FROM Invoice WHERE CustomerId = 6'}, 'id': 'tooluse_R1qBux-1TGeP13rqkv8-VQ'}]
Tool Calls:
  execute_sql (tooluse_R1qBux-1TGeP13rqkv8-VQ)
 Call ID: tooluse_R1qBux-1TGeP13rqkv8-VQ
  Args:
    query: SELECT MAX(Total) AS HighestPurchase FROM Invoice WHERE CustomerId = 6
================================= Tool Message =================================
Name: execute_sql

[(25.86,)]
================================== Ai Message ==================================

Helena Holý's highest purchase was $25.86.